<div class="specified-services-all-cont">
  <div class="specified-services-cont">
    <div class="txt-title" style="margin-bottom: 40px;">
      <p class="text-title-sub-section">Serviços específicos</p>
    </div>
    <div *ngIf="tamanhoTela() >= 1400">
      <div (click)="toggleServicesList(service)" class="specified-services-list" *ngFor="let service of services">
        <div [matTooltip]="!service.isOpen ? 'Clique para Abrir' : 'Clique para Fechar'" class="block-title-cont">
          <mat-icon class="icon-specified-service material-symbols-outlined">{{service.icon}}</mat-icon>
          <p [matTooltip]="service.title">{{ service.title }}</p>
        </div>
        <div class="all-specified-sub-services-list-cont" id="{{'specifiedServicesListCont_' + service.id}}" [ngClass]="{'closed': !service.isOpen}">
           <div class="specified-sub-services-list" id="{{'specifiedServicesList_' + service.id}}" style="min-width: 33%; max-width: 33%;" *ngFor="let subService of service.services">
            <div class="rectangle-sub-title-cont">
              <div class="circle"></div>
              <p [matTooltip]="subService.serviceName" style="margin-bottom: 0!important;">{{ subService.serviceName }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tamanhoTela() < 1400">
      <div class="list-item-mobile" *ngFor="let service of services">
        <div class="service-title-mobile-cont">
          <p [matTooltip]="service.title">{{ service.title }}</p>
        </div>
        <div class="itens-service-mobile-cont">
          <div *ngFor="let subService of service.services">
            <div class="rectangle-sub-title-cont-mobile">
              <div class="circle"></div>
              <p [matTooltip]="subService.serviceName" style="margin-bottom: 0!important;">{{ subService.serviceName }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
