.specified-services-all-cont{
  padding: 65px;
}
.specified-services-list{
  display: flex;
  margin-bottom: 10px;
  max-height: 180px;
}
.block-title-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fdfdfd;
  min-width: 14vw;
  min-height: 16vh;
  box-shadow: -13px 4px 29px -23px var(--primary);
  cursor: pointer;
}
.icon-specified-service{
  transform: scale(2.5);
  font-weight: 300;
}
.block-title-cont p{
  font-size: 26px;
  color: var(--primary);
}
.circle{
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondary);
  margin-right: 10px;
}
.rectangle-sub-title-cont{
  display: flex;
  align-items: center;
}
.rectangle-sub-title-cont p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 400;
  color: var(--primary);
}
.all-specified-sub-services-list-cont{
  width: 100%;
  gap: 1em;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #f8f8f8;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: .5s ease-out;
 }
 .closed {
  width: 10px;
  opacity: 0;
  transition: .5s ease-out;
}
.owl-carousel .owl-item img{
  height: 200px;
  object-fit: cover;
  width: 200px;
}

@media screen and (max-width: 1000px) {
  .specified-services-all-cont{
    padding: 15px!important;
  }
}
