<div class="all-contact-cont">
  <div class="txt-title" style="margin-bottom: 40px;">
    <p class="text-title-section">Contato</p>
  </div>
  <div class="contact-forms">
    <div class="contact-form">
      <mat-icon matTooltip="Instagram" class="icon-specified-service material-symbols-outlined">phone_iphone</mat-icon>
      <a href="https://www.instagram.com/flaviocandidoprojetos/" style="text-decoration: none; color: inherit; cursor: pointer;  font-family: 'Montserrat';" target="_blank">https://www.instagram.com/flaviocandidoprojetos/</a>
    </div>
    <div class="contact-form">
      <mat-icon matTooltip="E-mail" class="icon-specified-service material-symbols-outlined">mail</mat-icon>
      <p>flaviocandidoprojetos&#64;gmail.com</p>
    </div>
    <div class="contact-form">
      <mat-icon matTooltip="Celular" class="icon-specified-service material-symbols-outlined">call</mat-icon>
      <p>+55 31 9393-0770</p>
    </div>
  </div>
</div>

