<div class="all-contact-cont">
  <div class="txt-title" style="margin-bottom: 40px;">
    <p class="text-title-section">Contato</p>
  </div>
  <p class="text-title-sub-section">Entre em contato conosco!</p>
  <div class="contact-and-menssage-cont" style="width: 100%; display: flex; margin-top: 40px;">
    <div class="contact-forms" style="width: 50%; width: 50%; padding: 20px; border: 1px var(--primary) solid;">
      <div class="contact-form">
        <mat-icon matTooltip="Instagram" class="icon-specified-service material-symbols-outlined">phone_iphone</mat-icon>
        <a href="https://www.instagram.com/flaviocandidoprojetos/" style="text-decoration: none; color: inherit; cursor: pointer;  font-family: 'Montserrat';" target="_blank">https://www.instagram.com/flaviocandidoprojetos/</a>
      </div>
      <div class="contact-form">
        <mat-icon matTooltip="E-mail" class="icon-specified-service material-symbols-outlined">mail</mat-icon>
        <p>flaviocandidoprojetos&#64;gmail.com</p>
      </div>
      <div class="contact-form">
        <mat-icon matTooltip="Celular" class="icon-specified-service material-symbols-outlined">call</mat-icon>
        <p>+55 31 99393-0770</p>
      </div>
    </div>
    <div class="menssage-cont">
      <div class="inputs-cont">
        <div class="input-group">
          <label for="nome">Nome</label>
          <input placeholder="Escreva seu nome" type="text" id="nome" name="nome">
        </div>
        <div class="input-group">
          <label for="mensagem">Mensagem</label>
          <textarea placeholder="Escreva a mensagem" id="mensagem" name="mensagem"></textarea>
        </div>
        <div class="input-group" >
          <button type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
