<div class="all-our-services-cont">
  <div class="all-our-services">
    <div class="txt-title" style="margin-bottom: 40px;">
      <p class="text-title-section">Nossos Serviços</p>
    </div>
    <div class="txt-sub-title">
      <p class="text-title-sub-section">Tipos de serviços</p>
    </div>
    <div class="list-services">
      <div *ngFor="let service of services"class="list">
        <div class="circle"></div>
        <p class="service-text">{{service.nome}}</p>
      </div>
    </div>
  </div>
</div>
