.all-our-services-cont{
  padding: 65px;
}
.list{
  display: flex;
  align-items: center;
}
.circle{
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondary);
  margin-right: 10px;
}
.service-text{
  color: var(--primary);
  font-weight: 250;
  font-size: 22px;
  font-family: 'Montserrat';
}
.list-services{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: space-between;
}
.list {
  width: 50%;
  display: flex;
  margin-bottom: 10px;
}
@media screen and (max-width: 1000px) {
  .all-our-services-cont{
    padding: 15px!important;
  }
}

