<div style="width: 100%;" class="all-intro-main-cont">
  <div class="firt-section">
    <div style="width: 50%;" class="image-intro-main">
      <img src="../../../assets/images/logos/LOGOTIPO 3.svg">
    </div>
    <div style="width: 50%;" class="text-intro-main">
      <div class="text-intro">
        <h1>Escritório com expertise em serviços de Engenharia Civil e Elétrica;</h1>
      </div>
      <div class="buttons-icon-cont">
        <button class="buttons-icon"><a href="#servicos">Serviços</a></button>
        <button class="buttons-icon"><a href="#contato">Contato</a></button>
      </div>
    </div>
  </div>
  <div class="second-sction">
    <div class="image-advertising-cont">
      <img src="../../../assets/images/outras/Vector.svg">
    </div>
  </div>
</div>
