.all-intro-main-cont{
  display: flex;
  flex-direction: column;
}
.firt-section{
  display: flex;
}
.text-intro-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-intro{
  width: 100%;
}
.text-intro h1{
  font-family: 'Montserrat';
  color: var(--primary);
  font-weight: 250;
}
.buttons-icon{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}
.image-intro-main img{
  width: 65%;
}
.image-intro-main{
  display: flex;
  justify-content: center;
}
.buttons-icon button{
  background-color: var(--secondary);
  color: var(--white);
  font-family: 'Montserrat';
  width: 150px;
  height: 45px;
  font-size: 18px;
  border: none;
  margin-right:  20px;
  cursor: pointer;
}
.image-advertising-cont{
  width: 100%;
}
.image-advertising-cont img{
  width: 100%;
}


@media screen and (max-width: 1000px) {
  .firt-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .image-intro-main{
    width: auto!important;
  }
  .image-intro-main img{
    width: 45%!important;
  }
  .text-intro-main{
    width: auto!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text-intro{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .buttons-icon{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
}
