<div class="all-partnerhsip-cont">
  <div class="all-partnerhsip">
    <div class="txt-title" style="margin-bottom: 40px;">
      <p class="text-title-section">Parceiros</p>
    </div>
    <div class="image-container">
      <img src="../../../assets/images/outras/imagens-parceiros/AO2 Logo 2 1.jpg" alt="Imagem 1">
      <img src="../../../assets/images/outras/imagens-parceiros/Logo Linear Original_14041x9933_com fundo 1.png" alt="Imagem 2">
      <img src="../../../assets/images/outras/imagens-parceiros/Logo Valier.png" alt="Imagem 3">
      <img src="../../../assets/images/outras/imagens-parceiros/Cartão de visita - Fundo preto.jpg" alt="Imagem 3">
  </div>
  </div>
</div>
