.all-partnerhsip-cont{
  padding: 65px;
}

.image-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin: 10px 0 10px 0;
  width: 25%;
}


@media screen and (max-width: 800px) {
  .image-container img{
    width: 85%;
  }
}
