<div class="carousel-portfolio-all-cont" style="cursor: pointer;">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let info of infoImagens">
      <div class="all-info-cont" [style]="tamanhoTela() >= 1000 ? 'width: 95%; height: 700px;' : 'width: 100%; height: auto;' ">
        <div class="image-cont">
          <img src="{{info.caminho}}" style="object-fit: cover; height: 600px;">
        </div>
        <div class="info-cont" style="margin-top: 5px; font-size: 16px;">
          <p>{{info.informacao}}</p>
        </div>
      </div>
    </ng-template>

    <!-- Navigation Arrows -->
    <ng-template carouselPrev>
      <button class="owl-nav-prev">
        <i class="fa fa-caret-left"></i>
      </button>
    </ng-template>

    <ng-template carouselNext>
      <button class="owl-nav-next">
        <i class="fa fa-caret-right"></i>
      </button>
    </ng-template>
  </owl-carousel-o>
</div>
