<div class="carousel-portfolio-all-cont">
  <div class="txt-title" style="margin-bottom: 40px;">
    <p class="text-title-section">Portfólio de Serviços</p>
  </div>
  <div class="carousel-portfolio-cont">
    <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
      <ng-template swiperSlide>Slide 1</ng-template>
      <ng-template swiperSlide>Slide 2</ng-template>
      <ng-template swiperSlide>Slide 3</ng-template>
      <!-- Adicione mais ng-templates conforme necessário -->
    </swiper>

    <!-- Botões de navegação -->
    <div class="swiper-button-next" (click)="goToNextSlide()"></div>
    <div class="swiper-button-prev" (click)="goToPreviousSlide()"></div>
  </div>
</div>
