<div class="main-page-all">
  <app-header-component></app-header-component>
  <div style="cursor: pointer" class="button-wpp">
    <div (click)="enviarParaWpp()" class="wpp-contact-float">
      <img width="45px" src="../../../assets/images/logos/LOGOWPPWHITE.png"/>
    </div>
  </div>
  <app-intro-main-page></app-intro-main-page>
  <app-our-services></app-our-services>
  <app-specified-services></app-specified-services>
  <app-portfolio-component></app-portfolio-component>
  <app-partnership-component></app-partnership-component>
</div>
